.botonNegro{
    background-color: #000000;
    color: white;
    border: none;
}
.botonRojo{
    background-color:#EC172D;
    color: white;
    border: none;
}
.fondoLi{
    background-color: #E5E5E5;
}