
/*MEDIA QUERIES*/

/*X-SMALL DEVICES PUBLICIDAD*/
@media all and (max-width: 576px) {
}

/*SMALL DEVICES*/
@media all and (min-width: 576px) and (max-width: 768px) {
}

/*MEDIUM DEVICES*/
@media all and (min-width: 768px) and (max-width: 991px) {
    .noticiaCard{
        max-width: 48%;
    }
}

/*LARGE DEVICES*/
@media all and (min-width: 991px) and (max-width: 1200px) {
    .noticiaCard{
        max-width: 31%;
    }
}
  
  /*XTRA LARGE DEVICES*/
@media all and (min-width: 1200px) {
    .noticiaCard{
        max-width: 31%;
    }
}